<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="waku.dao.ElementDao">
  <resultMap type="element" id="elementResultMap">
    <id     property="gNo"       column="G_NO"/>
    <id     property="iNo"     column="I_NO"/>
    <result property="iReq"    column="I_REQ"/>
  </resultMap>
  
  <select id="selectList" resultMap="elementResultMap">
    select G_NO,I_NO,I_REQ
    from ELEMENT
  </select>  
</mapper>